---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">About Me</div>
  </div>

  <div class="mb-10 text-justify">
    I am an Information Systems freshman at the National University of Singapore. I am passionate about developing software to address business problems and I'm currently open to learning new things and appreciating things from different perspectives!
  </div>

  <div class="mb-10 text-justify">
    I am actively seeking internship opportunities for the next summer break and please do not hesitate to reach out to me if you have any internship opportunities!
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor of Computing in Information Systems"
      subtitle="2022 to 2026 at National University of Singapore, Singapore, Singapore"
    />
    <TimeLineElement
      title="Singapore-Cambridge GCE A Levels"
      subtitle="2018 to 2019 at Jurong Pioneer Junior College, Singapore, Singapore"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="None yet, but I'm actively seeking internships to gain industrial experience!"
      subtitle=""
      desc="I'm currently working on a few projects (both individual and group) and I hope to get an internship for the next summer break!"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://courses.edx.org/certificates/713c97dea5b247c09381bc60fd430997" target="_blank"> Introduction to Computer Science and Programming Using Python - MITx</a>
    </li>
    <li>
      <a href="https://www.codecademy.com/profiles/hanweitat/certificates/d3f89367b558583e361640f778191345" target="_blank"> Learn Java Course - Codecademy</a>
    </li>
    <li>
      <a href="https://www.codecademy.com/profiles/hanweitat/certificates/6c152bd262967f8c941c9707ed636bda" target="_blank"> Learn Python 3 Course - Codecademy</a>
    </li>
    <li>
      <a href="https://www.codecademy.com/profiles/hanweitat/certificates/18580789eaba28f09e116f4fc2acec44" target="_blank"> Learn Intermediate Python 3 Course - Codecademy</a>
    </li>
    <li>
      <a href="https://www.codecademy.com/profiles/hanweitat/certificates/497d64b859e76f307b65270d130a4603" target="_blank"> Learn R Course - Codecademy</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Communication</li>
    <li>Teamwork</li>
    <li>Time Management</li>
    <li>Problem Solving</li>
    <li>Analytical Skills</li>
    <li>Leadership</li>
    <li>Python</li>
    <li>Java</li>
    <li>R</li>
  </ul>
</BaseLayout>
