---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import HorizontalSquare from "../components/HorizontalSquare.astro";
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";


---

<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-xl py-1">Hi there! 👋</div>
      <div class="text-5xl font-bold">My name is Han Wei Tat</div>
      <div class="text-3xl py-3 font-bold">An Information Systems Undergraduate at the National University of Singapore</div>
      <div class="py-2">
        <text class="text-lg">
          Welcome to my website! I am passionate about helping businesses thrive by developing software solutions and I'm looking for internship opportunities too! Do feel free to reach out to me if you have any opportunities available.
          </text
        >
      </div>
      <div class="mt-8">
        <a class="btn" href="https://www.linkedin.com/in/hanweitat/" target="_blank"> Let's connect!</a>
        <a href="mailto:hanweitat@u.nus.edu" target="_blank" class="btn btn-outline ml-5"> Contact me!</a>
      </div>
    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-2">Some of my projects {"</>"}</div>
    </div>

    <HorizontalCard
      title="FriendGPT"
      img="/telegram.jpg"
      desc="In this small project of mine, I used OpenAI's APIs to create a Telegram chatbot that allows users to ask all kinds of questions conveniently and it provides an avenue for users to socialise with the robot too."
      url="https://t.me/bffgptbot"
      badge="NEW"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Stay Tuned"
    img="/loading.jpeg"
    desc="Keep a lookout for this page! A new project is brewing!"
    badge="IN PROGRESS"
  />

    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">My technical skills</div>
    </div>

    <HorizontalSquare
    title="Java"
    img="/java.jpeg"
    />
    <HorizontalSquare
    title="Python"
    img="/python.jpeg"
    />
    <HorizontalCard
    title="R"
    img="/technicalskills2.jpeg"
    />

    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">My soft skills</div>
    </div>

    <HorizontalSquare
    title="Communication"
    img="/softskills.jpeg"
    />

    <HorizontalSquare
    title="Teamwork"
    img="/softskills2.jpeg"
    />

    <HorizontalSquare
    title="Time Management"
    img="/softskills3.jpeg"
    />

    <HorizontalSquare
    title="Problem Solving"
    img="/softskills4.jpeg"
    />

    <HorizontalSquare
    title="Analytical Skills"
    img="/softskills5.jpeg"
    />

</BaseLayout>
