---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects</div>
  </div>

  <HorizontalCard
    title="FriendGPT"
    img="/telegram.jpg"
    desc="In this small project of mine, I used OpenAI's APIs to create a Telegram chatbot that allows users to ask all kinds of questions conveniently and it provides an avenue for users to socialise with the robot."
    url="https://t.me/bffgptbot"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Singabot"
    img="/Singabot.jpeg"
    desc="Singabot is a Telegram bot that utilises web scraping to recommend places to visit in Singapore based on user preferences to extract real-time information from Google Maps, allowing users to make more informed choices on where to visit. The bot returns a list of 10 places and its ratings that are retrieved from a database using PostgreSQL to the user and the user has to choose an option out of the 10 places. Following which the user can leave a review (both qualitative and quantitative) if they wish to do so and the bot performs sentiment analysis on the qualitative review given and computes an aggregate review (by using both the qualitative and quantitative reviews) of the place before updating its entry on the database."
    url="#"
    badge="IN PROGRESS"
  />
</BaseLayout>
