---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects</div>
  </div>

  <HorizontalCard
    title="FriendGPT"
    img="/telegram.jpg"
    desc="In this small project of mine, I used OpenAI's APIs to create a Telegram chatbot that allows users to ask all kinds of questions conveniently and it provides an avenue for users to socialise with the robot."
    url="https://t.me/bffgptbot"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Singabot"
    img="/Singabot.jpeg"
    desc="Singabot is a Telegram bot that uses web scraping to suggest places to visit in Singapore based on user preferences and real-time data from Google Maps. It provides users with a list of 10 places and their ratings retrieved from a PostgreSQL database. Users select a place, leave reviews, and the bot conducts sentiment analysis on qualitative feedback. It calculates an aggregate review using both qualitative and quantitative input, and updates the database entry for the chosen place."
    url="https://t.me/littlereddotbot"
    badge="NEW"
  />
</BaseLayout>
